# VSCode
.vscode/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc[cod]

# Build
build/*

# Doc
*.pdf
*.docx
*.pyc
*.swp
*.egg-info
plyfile-venv/
build/
dist/
.tox
.cache
.pytest_cache

#tmp
tmp/*
temp_*/*
*/temp_*/*

# Doc
*.pdf
*.html
*.docx
*~